<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webpack demo</title>
  </head>
  <body>
    <link rel="stylesheet" href="APP_RESOURCE_CSS_PATH" type="text/css" charset="utf-8">
    <script type="text/javascript" src="APP_RESOURCE_JS_PATH" charset="utf-8"></script>
  </body>
</html>
