<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webpack demo</title>
    <link rel="stylesheet" href="APP_RESOURCE_CSS_PATH" type="text/css" charset="utf-8">
    <script type="text/javascript">
      function webpackJsonx(module, exports, __webpack_require__) {
        //console.log('main downloaded');
        var load = function() {
          if (window.webpackJsonp)
            return webpackJsonp(module, exports, __webpack_require__);
          setTimeout(load, 10);
        }
        load();
      }
    </script>
    <script type="text/javascript" src="VENDOR_RESOURCE_JS_PATH" charset="utf-8" async defer></script>
    <script type="text/javascript" src="APP_RESOURCE_JS_PATH" charset="utf-8" async defer></script>
  </head>
  <body>
  </body>
</html>
